/**
 * Palette: https://colorhunt.co/palette/66806ab4c6a6ffc286fff1af
 * 66806A
 * B4C6A6
 * FFC286
 * FFF1AF
 **/

html,
body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  color: #454545;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

article {
  display: flex;
}

@media (max-width: 479px) {
  article {
    flex-direction: column;
  }
}

#avatar {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.content {
  flex-grow: 1;
  padding: 24px 18px;
}

@media (min-width: 480px) {
  #avatar {
    width: 50%;
  }

  .content {
    padding: 150px 100px;
  }
}

h1 {
  color: #66806A;
  font-family: "Cormorant SC", serif;
  font-size: 48px;
  margin: 16px 0;
}

h2 {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #d49556;
}

a {
  color: #454545;
}

.primary-button {
  text-decoration: none;
  background: #B4C6A6;
  color: white;
  padding: 9px 17px;
  border-radius: 8px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  margin: 30px 0;
}

p {
  font-size: 19px;
  line-height: 1.4;
}

footer {
  margin-top: 64px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
}

footer h4 {
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 12px;
  opacity: 0.7;
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0;
}

footer ul li {
  opacity: 0.7;
}

footer ul a {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}
footer ul a:hover {
  text-decoration: underline;
}

.footer-icon {
  width: 16px;
}
