/**
 * Palette: https://colorhunt.co/palette/f6f6f6ffe2e2ffc7c7aaaaaa
 * F6F6F6
 * FFE2E2
 * FFC7C7
 * AAAAAA
 **/

html,
body {
  margin: 0;
  padding: 0;
  background: #f6f6f6;
  color: #454545;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

article {
  display: flex;
}

@media (max-width: 479px) {
  article {
    flex-direction: column;
  }
}

#avatar {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.content {
  flex-grow: 1;
  padding: 24px 18px;
}

@media (min-width: 480px) {
  #avatar {
    width: 50%;
  }

  .content {
    padding: 150px 100px;
  }
}

h1 {
  font-family: "Cormorant SC", serif;
  font-size: 48px;
  margin: 16px 0;
}

h2 {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(223, 165, 165);
}

a {
  color: #454545;
}

p {
  opacity: 0.5;
  font-size: 19px;
  line-height: 1.4;
}

footer {
  margin-top: 64px;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
}

footer h4 {
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 12px;
  opacity: 0.3;
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0;
}

footer ul li {
  opacity: 0.4;
}

footer ul a {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
}
footer ul a:hover {
  text-decoration: underline;
}

.footer-icon {
  width: 16px;
}
