@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #f6f6f6;
  color: #454545;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  height: 100%;
}

p {
  /* font-size: 16px; */
  line-height: 1.4;

  margin-top: 16px;
}

h1 {
  @apply text-axolotl font-serif text-[48px] my-4 font-bold leading-tight mt-16 tracking-wider;
}
h2 {
  @apply text-axolotl font-serif text-[42px] my-3 font-bold leading-tight mt-12 tracking-wider;
}
h3 {
  @apply text-axolotl font-serif text-[36px] my-2 font-bold leading-tight mt-10 tracking-wider;
}

.flex-center {
  @apply flex justify-center items-center;
}
